@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$font_color: #060A24;
$hover_color: #00F3BB;
$active_link: rgba(6,10,36,0.56);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #fff;
  color: $font_color;
  scroll-behavior: smooth;
  h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0px;
  }
  p{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 1023px) {
    :root {
      h1, h2, h3 {
        font-size: 48px;
        line-height: 84px;
      }
    }
}